#tables {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tables td, #tables th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tables tr:nth-child(even){background-color: #fffff2;}

#tables tr:nth-child(odd){background-color: #e6e6ff;}

#tables tr:hover {background-color: #ddd;}

#tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000F50;
    color: white;
}

body {
	font-size: 13px;
	font-family: 'Open Sans', Arial, sans-serif;
	background: #fff;
	color: #777
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin-top: 0
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 11px;
	margin: 0 0 0 5px
}
h1 {
	font-size: 28px
}
h2 {
	font-size: 24px
}
h3 {
	font-size: 20px
}
h4 {
	font-size: 16px
}
h5 {
	font-size: 13px
}
h6 {
	font-size: 11px
}
strong, b {
	color: #555
}
a:hover, a:focus {
	outline: 0
}
small, .small {
	font-size: 11px
}
pre, code {
	padding: 1px 2px;
	font-weight: bold;
	font-size: 12px
}
blockquote {
	border-left: 3px solid #dcdddf
}
blockquote p {
	font-size: 14px
}
blockquote small::before {
	content: "# "
}
.lead {
	font-size: 16px;
	line-height: 22px
}
.text-muted {color: #999;}
.wrapper {
	background: url(../images/bg.png) #eee;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	padding: 30px 0
}
.footer {
	color: #999;
	padding: 30px 0 60px
}
.footer .nav li {
	float: left
}
.footer .nav li+li {
	margin-left: 30px
}
.footer .nav li a {
	color: inherit
}
.footer .nav li a:hover {
	color: #555
}
form {
	margin: 0
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, label, input, button, select, textarea {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	font-family: 'Open Sans', Tahoma, Arial, sans-serif
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0
}
.input-append input, .input-append select, .input-append .uneditable-input, .input-prepend .add-on:first-child, .input-prepend .btn:first-child {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px
}
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group>.dropdown-toggle, .input-prepend .btn-group>.dropdown-toggle {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child>.dropdown-toggle {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0
}
.input-transparent {
	border: 0!important;
	background: none!important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important
}
.radio.inline, .checkbox.inline {
	white-space: nowrap
}
body [class^="icon-"], body [class*=" icon-"] {
	font-size: 14px;
	line-height: 20px;
	height: 20px
}
.shaded {
	color: rgba(0,0,0,0.3);
	text-shadow: 0 0 1px #eee, 0 0 0 #000, 0 0 1px #fff
}
.module {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
	margin-bottom: 30px
}
.align-center {
	text-align: center
}
.align-right {
	text-align: right!important
}
.clear {
	clear: both
}
.none {
	display: none
}
.nav>li>a:hover {
	background: 0
}
.form-horizontal .control-group, .form-vertical .control-group {
	margin-bottom: 0
}
.form-horizontal .control-group+.control-group, .form-vertical .control-group+.control-group {
	margin-top: 13px;
	padding-top: 13px;
	border-top: 1px solid #f5f5f5
}
.module-login {
	margin-bottom: 80px;
	margin-top: 80px
}
.module-login .form-vertical input {
	margin-bottom: 0!important
}
.navbar {
	position: static!important;
	margin: 0!important
}
.navbar .navbar-inner {
	background: #fff;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,0.15)
}
.navbar .brand {
	color: #333;
	font-weight: bold;
	font-size: 20px;
	margin-right: 20px;
	padding: 20px
}
.navbar .nav>li>a {
	padding: 20px 15px;
	font-weight: bold;
	color: #777
}
.navbar .nav>li.active , .navbar .nav>li.active , .navbar .nav>li.active, .navbar .nav>li:hover  {
	background: #f9f9f9;
}
.navbar .nav>li.dropdown.open>.dropdown-toggle, .navbar .nav>li.dropdown.active>.dropdown-toggle, .navbar .nav>li.dropdown.open.active>.dropdown-toggle {
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-left: 14px;
	padding-right: 14px;
	position: relative;
	z-index: 9999
}
.navbar .nav>li>.dropdown-menu {
	border: 1px solid #ccc;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	left: -1px;
	min-width: 200px;
	margin: -1px 0 0;
	z-index: 9991
}
.navbar .nav>li>.dropdown-menu::before, .navbar .nav>li>.dropdown-menu::after {
	display: none
}
.navbar .nav>li>.dropdown-menu li>a {
	padding: 10px 20px
}
.navbar .nav>li>.dropdown-menu li>a:hover {
	background: #f9f9f9;
	color: #555
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus
{
	
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
	}
.navbar .nav.nav-icons>li>a {
	background: none;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #777;
	font-weight: bold;
	padding: 5px;
	margin: 15px 5px
}
.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
	right: 0;
	left: auto
}
.navbar .divider-vertical {
	background: #eee;
	border-left: 0;
	border-right: 0;
	height: 30px;
	margin: 25px 15px;
	width: 1px
}
.navbar-search {
	margin: 15px 0 0 0
}
.nav-user>a {
	height: 20px
}
.nav-avatar {
	width: 34px;
	height: 34px;
	margin: -7px 5px 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}
.dropdown-menu {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
.alert {
	background: #fffaef;
	border-color: #ecdcb6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	color: #b68b53
}
.alert strong, .alert b {
	color: inherit
}
.alert-danger, .alert-error {
	background: #f7e7e4;
	border-color: #ecbeb6;
	color: #b55351
}
.alert-success {
	background: #eaf4e2;
	border-color: #c1dea9;
	color: #61a06f
}
.btn, .btn-box {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
.btn:hover, .btn-box:hover {
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.15);
	box-shadow: 0 0 2px rgba(0,0,0,0.15)
}
.btn:focus, .btn-box:focus {
	outline: 0
}
.btn [class^="icon-"], .btn-box [class^="icon-"], .btn [class*=" icon-"], .btn-box [class*=" icon-"] {
	min-width: 16px;
	text-align: center;
	display: inline-block!important
}
.btn {
	font-size: 13px;
	font-weight: 600
}
.btn.btn-mini, .btn.btn-small {
	font-size: 11px
}
.btn.btn-large {
	font-size: 16px
}
.btn-box {
	margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);



	text-align: center;
	text-decoration: none!important;
	padding: 25px 0;
	margin: 0 0 30px
}
.btn-box i, .btn-box b {
	display: block
}
.btn-box b {
	color: #444;
	font-size: 20px;
	font-weight:normal;
	margin-top: 5px;
	text-shadow: 0 1px 0 #fff
}
.btn-box i {
	font-size: 36px;
	line-height: 36px;
	height: 36px;
	color: #29b7d3;
	-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
.btn-box.big b {
	margin-top: 10px
}
.btn-box.big i {
	font-size: 48px;
	line-height: 48px;
	height: 48px
}
.btn-box.small b {
	font-size: 11px
}
.btn-box.small i {
	font-size: 24px;
	line-height: 24px;
	height: 24px
}
.btn-box:hover i {
	color: rgba(0,0,0,0.4);
	
}
.btn-group>.btn:first-child {
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px
}
.btn-group>.btn:last-child {
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px
}
.btn-group.shaded-icon>.btn>i {
	color: rgba(0,0,0,0.3);
	text-shadow: 0 0 1px #eee, 0 0 0 #000, 0 0 1px #fff
}
.btn-group.shaded-icon>.btn:hover>i {
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px #ccc, 0 0 0 #000, 0 0 1px #fff
}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
	font-size: 13px
}



/* Buttons */


.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 4px 10px;
	font-size: 13px;
	line-height: 1.42857;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.btn.active:focus, .btn:active:focus, .btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.btn:focus, .btn:hover {
	color: #767676;
	text-decoration: none
}
.btn.active, .btn:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-default {
	color: #767676;
	background-color: #fafafa;
	border-color: #ededed
}
.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.btn-default.dropdown-toggle {
	color: #767676;
	background-color: #e1e1e1;
	border-color: #cfcfcf
}
.btn-default.active, .btn-default:active, .open>.btn-default.dropdown-toggle {
	background-image: none
}
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
	background-color: #fafafa;
	border-color: #ededed
}
.btn-default .badge {
	color: #fafafa;
	background-color: #767676
}
.btn-primary {
	color: #fff;
	background-color: #248aaf;
	border-color: #20799a
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #1b6985;
	border-color: #155167
}
.btn-primary.active, .btn-primary:active, .open>.btn-primary.dropdown-toggle {
	background-image: none
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #248aaf;
	border-color: #20799a
}
.btn-primary .badge {
	color: #248aaf;
	background-color: #fff
}
.btn-success {
	color: #fff;
	background-color: #3cbc8d;
	border-color: #36a97f
}
.btn-success.active, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.btn-success.dropdown-toggle {
	color: #fff;
	background-color: #309570;
	border-color: #277a5c
}
.btn-success.active, .btn-success:active, .open>.btn-success.dropdown-toggle {
	background-image: none
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
	background-color: #3cbc8d;
	border-color: #36a97f
}
.btn-success .badge {
	color: #3cbc8d;
	background-color: #fff
}
.btn-info {
	color: #fff;
	background-color: #29b7d3;
	border-color: #25a4be
}
.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.btn-info.dropdown-toggle {
	color: #fff;
	background-color: #2192a8;
	border-color: #1b788a
}
.btn-info.active, .btn-info:active, .open>.btn-info.dropdown-toggle {
	background-image: none
}
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
	background-color: #29b7d3;
	border-color: #25a4be
}
.btn-info .badge {
	color: #29b7d3;
	background-color: #fff
}
.btn-warning {
	color: #fff;
	background-color: #fac552;
	border-color: #f9bd39
}
.btn-warning.active, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.btn-warning.dropdown-toggle {
	color: #fff;
	background-color: #f9b420;
	border-color: #eea507
}
.btn-warning.active, .btn-warning:active, .open>.btn-warning.dropdown-toggle {
	background-image: none
}
.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
	background-color: #fac552;
	border-color: #f9bd39
}
.btn-warning .badge {
	color: #fac552;
	background-color: #fff
}
.btn-danger {
	color: #fff;
	background-color: #e9422e;
	border-color: #e52e18
}
.btn-danger.active, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #ce2916;
	border-color: #ae2312
}
.btn-danger.active, .btn-danger:active, .open>.btn-danger.dropdown-toggle {
	background-image: none
}
.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
	background-color: #e9422e;
	border-color: #e52e18
}
.btn-danger .badge {
	color: #e9422e;
	background-color: #fff
}
.btn-link {
	color: #333;
	font-weight: 400;
	cursor: pointer;
	border-radius: 0
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
	border-color: transparent
}
.btn-link:focus, .btn-link:hover {
	color: #0d0d0d;
	text-decoration: underline;
	background-color: transparent
}
.btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover {
	color: #999;
	text-decoration: none
}
.btn-group-lg>.btn, .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px
}
.btn-group-sm>.btn, .btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 2px
}
.btn-group-xs>.btn, .btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 2px
}
.btn-block {
	display: block;
	width: 100%
}
.btn-block+.btn-block {
	margin-top: 5px
}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
	width: 100%
}





.modal {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2)
}
.modal .modal-header .close {
	color: rgba(0,0,0,0.5);
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	margin: 0;
	text-shadow: 1px 1px 2px #ddd, 0 0 0 #000, 0 0 1px #fff
}
.modal-backdrop, .modal-backdrop.fade.in {
	background: #fff;
	opacity: .9
}
.accordion-group {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
	overflow: hidden;
	margin-bottom: 5px
}
.accordion-heading {
	background: #fafafa;
	background: -moz-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(50%, #fff), color-stop(51%, #fafafa), color-stop(100%, #fafafa));
	background: -webkit-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
	background: -o-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
	background: -ms-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
	background: linear-gradient(to bottom, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@bottomColor', GradientType=0)
}
.accordion-heading .accordion-toggle {
	color: #555;
	font-weight: bold;
	line-height: 20px;
	padding: 10px 15px;
	text-decoration: none!import